.column {
  float: left;
  width: 10%;
  height: 100px;
  text-align: center;
  font-size: large;
}

.first {
  background-color: blanchedalmond;
}

.second {
  background-color: darkslategray;
}

.third {
  background-color: slategray;
}

.remaining {
  float: right;
  background: linear-gradient(141deg, blanchedalmond 0%, darkslategrey 40%, slategray 70%);
  width: 70%;
}
