<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [styles]="customMapStyles"
  [zoom]="zoom"
  [mapDraggable]="mapDraggable"
  (mapClick)="clickedMap($event)">


  <agm-data-layer [style]="loadBorderStyles" [geoJson]=borders></agm-data-layer>
  <!--agm-data-layer [style]="loadHealthcareStyles" [geoJson]=healthSites (layerClick)="clickedHealthCare($event)" ></agm-data-layer-->
  <!--agm-data-layer [style]="loadSolarStyles" [geoJson]=solarStations ></agm-data-layer-->
  <agm-data-layer [style]="loadPowerLineStyles" [geoJson]=powerLines ></agm-data-layer>
  <!--agm-data-layer [style]="loadPowerPlantsStyles" [geoJson]=powerPlants ></agm-data-layer-->
  <!--agm-data-layer [style]="loadPrimaryRoadStyles" [geoJson]=primaryRoads></agm-data-layer>
  <agm-data-layer [style]="loadSecondaryRoadStyles" [geoJson]=secondaryRoads></agm-data-layer>
  <agm-data-layer [style]="loadTertiaryRoadStyles" [geoJson]=tertiaryRoads></agm-data-layer-->
  <agm-data-layer [style]="loadPrimaryRoadStyles" [geoJson]=surfaceRoads></agm-data-layer>

  <!--agm-data-layer [geoJson]=unclassifiedRoads></agm-data-layer-->
  <agm-data-layer [geoJson]=airports ></agm-data-layer>


  <agm-circle *ngFor="let solarStation of solarStations"
              [latitude]="solarStation.latitude"
              [longitude]="solarStation.longitude"
              [circleDraggable]="false"
              [editable]="false"
              [fillColor]="'yellow'"
              [fillOpacity]="0.2"
              [radius]="solarStation.radius"
  ></agm-circle>

  <agm-circle *ngFor="let healthSite of healthSites"
              [latitude]="healthSite.latitude"
              [longitude]="healthSite.longitude"
              [circleDraggable]="false"
              [editable]="false"
              [fillColor]="'red'"
              [fillOpacity]="0.5"
              [(radius)]="healthSite.radius"
              (circleClick)="clickedHealthCare(healthSite)"

  ></agm-circle>

  <!--agm-kml-layer [url]="'../../assets/data/test.kml'" ></agm-kml-layer-->
  <!-- This is WORKING! -->
  <!--agm-kml-layer [url]="'http://dl.dropboxusercontent.com/s/e0gz8ltodgvj55x/hotosm_gha_roads_lines.kml'" ></agm-kml-layer-->



  <!-- INFO WINDOW on click event -->
  <agm-marker [latitude]="infoLatitude" [longitude]="infoLongitude" [visible]="false">
    <agm-info-window [disableAutoPan]="true" [isOpen]="infoVisible" #infoWindow>
      <div *ngIf="infoGeoJsonObject">
        <p *ngIf="infoGeoJsonObject.name">Name: <strong>{{infoGeoJsonObject.name}}</strong></p>
        <p *ngIf="infoGeoJsonObject.type">Type: <strong>{{infoGeoJsonObject.type}}</strong></p>

      </div>
    </agm-info-window>
  </agm-marker>

</agm-map>

<div class="infoPanel">

  <div class="title">
    VISUAL GHANA
  </div>

  <div class="szenarios">
    <div class="infrastructureButton" (click)="loadInfrastructureConfig()"> Infrastructure</div>
    <div class="technologyButton" (click)="loadTechnologyConfig()"> Technology</div>
    <div class="concepteButton" (click)="loadConceptConfig()"> Concept</div>
  </div>

  <div class="clickables">
    <input type="image" class="mainButton" src="../../assets/img/electricity.png" (click)="loadPower()" />
    <input type="image" class="mainButton" src="../../assets/img/healthcare.png" (click)="loadHealthSites()"/>
    <input type="image" class="mainButton" src="../../assets/img/road.png" (click)="loadTransportation()"/>
  </div>

  <div class="info">
    <div *ngIf="infoGeoJsonObject">
      <p *ngIf="infoGeoJsonObject.name">Name: <strong>{{infoGeoJsonObject.name}}</strong></p>
      <p *ngIf="infoGeoJsonObject.completeness">Completeness: <strong>{{infoGeoJsonObject.completeness}}</strong></p>
      <p *ngIf="infoGeoJsonObject.type">Type: <strong>{{infoGeoJsonObject.type}}</strong></p>
    </div>

    <div *ngIf="chart">
      <canvas class = "canvas" id="canvas">{{chart}}</canvas>
    </div>

  </div>

</div>


