agm-map
{
  height: 120%;
  width: 100%;
}

.map {
  height: 100%;
  overflow: hidden;
}

.infoPanel {
  z-index: +1;
  width: 40%;
  height: 100%;
  float: left;
  left: 10px;
  top: 10px;
  position: absolute;
  margin-left: 10px;

  color: white;

}


.infrastructureButton {
  width: 20%;
  height: 50%;
  background: #28536C;
  color: white;
  float: left;
}

.technologyButton {
  width: 20%;
  height: 50%;
  background-color: #AA5439;
  color: white;
  float: left;
}

.concepteButton {
  width: 20%;
  height: 50%;
  background-color: #806315;
  color: white;
  float: left;
}


.mainButton {
  width: 20%;
  height: 100%;
  background-color: slategray;

}

.title {
  height: 5%;
  padding: 20px;
  background-color: rgba(25%, 25%, 25%, 0.5);
  margin-top: 10px;



}

.szenarios {
  height: 10%;
  padding-left: 20px;
  padding-top: 20px;
  background-color: rgba(25%, 25%, 25%, 0.5);
  margin-top: 10px;

}

.clickables {
  height: 10%;
  background-color: rgba(25%, 25%, 25%, 0.5);
  margin-top: 10px;
  padding-left: 20%;
  padding-top: 20px;

}

.info {
  height: 55%;
  background-color: rgba(25%, 25%, 25%, 0.5);
  margin-top: 10px;
  padding-left: 20px;

}


.loadpowerPlantStyle {
  width: 50%;
  //height: 10px;
}
