@font-face {
  font-family: 'V-GERB';
  src: url('../../assets/fonts/V-GERB(bold).ttf') format('truetype') /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

agm-map {
  height: 100%;
  width: 100%;
}
.map {
  height: 100%;
  overflow: hidden;
}


::-webkit-scrollbar{
  width:5px;

}
::-webkit-scrollbar-thumb{
  background: black;
}



.infoPanel {
  z-index: +1;
  width: 40%;
  height: 100%;
  float: left;
  left: 20px;
  top: 10px;
  position: absolute;
  color: white;
  display: inline-block;
  overflow: hidden;
}
.infoPanelSection {
  height: 10%;
  padding-left: 1px;
  /*background-color: rgba(25%, 25%, 25%, 0.5);*/
  margin-top: 10px;
}



/* TITLE SECTION */
/* ------------------------------------------------------------------------------------------------------------------ */
.title {
  position: relative;
  font-size: 250%;
  /*display: flex;*/

  height: 5%;
  padding: 20px;
  background-color: rgba(25%, 25%, 25%, 0.5);
  margin-top: 10px;
  font-family: V-GERB;
  background: -webkit-linear-gradient(360deg, #28536C, #AA5439, #806315);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
/* ------------------------------------------------------------------------------------------------------------------ */



/* SZENARIO SECTION */
/* ------------------------------------------------------------------------------------------------------------------ */
.szenarios {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
/* Super class for szenario buttons */
.szenarioButton {
  position: relative;
  display: flex;
  width: 20%;
  height: 45%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  border-radius: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
  float: left;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.szenarioButton:focus{
  background-color: #FFFFFF40;
}

.szenarioText {
  width: 100%;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}
.szenarioButton::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20%;
  height: 50%;
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 3);*/
  opacity: 0;
}
.szenarioButton:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}
.szenarioButton:hover::after {
  opacity: 1;
}

.infrastructureButton {
  background-color: #FFFFFFA6;
}
.technologyButton {
  background-color: #FFFFFFA6;
}
.forecastButton {
  background-color: #FFFFFFA6;
}
/* ------------------------------------------------------------------------------------------------------------------ */



/* CLICKABLE SECTION */
/* ------------------------------------------------------------------------------------------------------------------ */
.clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.loadButton {
  position: relative;
  display: flex;
  width: 20%;
  height: 50%;
  background: #28536C;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  border-radius: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
  float: left;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 70%;
}

.loadButton::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20%;
  height: 50%;
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 3);*/
  opacity: 0;
}

.loadButton:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.loadButtonCategory {
  position: relative;
  display: flex;
  width: 20%;
  height: 50%;
  background: #28536C;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
  border-radius: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
  float: left;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80%;
}

.loadButtonCategory::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20%;
  height: 50%;
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 3);*/
  opacity: 0;
}

.loadButtonCategory:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.clickableText {
  width: 100%;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* color schemes for clickables */
.loadPower {
  background-color: #695513A6;
}

.loadHealthSite {
  background-color: #AA5439A6;
}

.loadTransportation {
  background-color: #12384BA6;
}

.loadEducation {
  background-color: #97BFB2A6;
}

.loadPopulation {
  background-color: #192251A6;
}
/* ------------------------------------------------------------------------------------------------------------------ */



/* INFO SECTION */
/* ------------------------------------------------------------------------------------------------------------------ */
.info {
  height: 65%;
  overflow: auto;
  margin-left: 5px;
  background-color: rgba(25%, 25%, 25%, 0.5);
}
.canvasBlock {
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/*Aula Terra Button section*/

.aulaterraButton {
  position: relative;
  width: 20%;
  height: 45%;
  background: #FFFFFFA6;
  /*box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);*/
  border-radius: 2px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  float: right;
  z-index: +1;

}
.aulaterraButtonText {
  width: 100%;
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

}

*
{
  box-sizing: border-box;
}

body
{
  background-color: #252827;
  color: white;
  letter-spacing: 2px;
}

p
{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  opacity: .7;
}

.timeLineWindow
{
  z-index: +1;
  width: 15%;
  height: 95%;
  /*background-color: rgba(25%, 25%, 25%, 0.5);*/
  position: absolute;
  right: 1%;
  top: 2%;
  overflow: auto;
  color: white;
  letter-spacing: 2px;
}

.timelineControl
{
  position: relative;
  background-color: #2f3331;
  margin-left: 100px;
}

.timeline
{
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;

  .timeline-body
  {
    position: relative;
    background-color: #2f3331;
    margin-left: 100px;
    border-radius: 0 8px 8px 0;
    padding: 5px 0;

    &:after
    {
      content: '';
      width: 4px;
      height: 100%;
      background-color: #28536CA6;
      position: absolute;
      left: -4px;
      top: 0;
    }

    .timeline-item
    {
      position: relative;

      &:after
      {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 4px solid #28536CA6;
        background-color: #2f3331;
        position: absolute;
        left: -16px;
        top: 0;
        z-index: 9;
      }

      &:hover::after
      {
        width: 40px;
        height: 40px;
        left: -24px;
        top: -10px;
      }

      .timeline-year
      {
        position: absolute;
        left: -85px;
        opacity: .5;
        font-size: 15px;
        bottom: 75px;
      }

      .timeline-content
      {
        margin: 40px;
        padding-bottom: 40px;
        //border-bottom: 1px dashed #555;

        .timeline-title
        {
          font-weight: 500;
          margin-bottom: 15px;

        }
        .timeline-title:checked
        {
          font-weight: 800;
          margin-bottom: 15px;

        }
      }
    }
  }
}



