<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [styles]="customMapStyles"
  [zoom]="zoom"
  [mapDraggable]="mapDraggable">

  <agm-data-layer [style]="loadBorderStyles" [geoJson]=borders></agm-data-layer>
  <agm-data-layer [style]="loadHealthcareStyles" [geoJson]=healthSites ></agm-data-layer>
  <agm-data-layer [style]="loadSolarStyles" [geoJson]=solarStations ></agm-data-layer>
  <agm-data-layer [style]="loadPowerLineStyles" [geoJson]=powerLines ></agm-data-layer>
  <agm-data-layer [style]="loadPowerPlantsStyles" [geoJson]=powerPlants ></agm-data-layer>
  <agm-data-layer [geoJson]=roads ></agm-data-layer>
  <agm-data-layer [geoJson]=airports ></agm-data-layer>

</agm-map>

<div class="infoPanel">

  <div class="title">
    VISUAL GHANA
  </div>

  <div class="szenarios">
    <div class="infrastructureButton" (click)="loadInfrastructureConfig()"> Infrastructure</div>
    <div class="technologyButton" (click)="loadTechnologyConfig()"> Technology</div>
    <div class="concepteButton" (click)="loadConceptConfig()"> Concept</div>
  </div>

  <div class="clickables">
    <input type="image" class="mainButton" src="../../assets/img/electricity.png" (click)="loadPower()" />
    <input type="image" class="mainButton" src="../../assets/img/healthcare.png" (click)="loadHealthSites()"/>
    <input type="image" class="mainButton" src="../../assets/img/road.png" (click)="loadTransportation()"/>
  </div>

  <div class="info">
    INFO!
  </div>

</div>


