<!--app-header></app-header-->
<div class="row">
  <div class="mapStyle">
    <app-map></app-map>
  </div>
  <div class="infoPanel">
    <button class="mainButton" (click)="loadSolarStations()" >Display solar stations</button>
    <button class="mainButton" (click)="loadHealthSites()" >Display health sites</button>
    <button class="mainButton" (click)="loadPowerLines()" >Display power lines</button>
    <button class="mainButton" (click)="loadAirports()" >Display airports</button>
    <button class="mainButton" (click)="loadPowerPlants()" >Display power plants</button>
  </div>
</div>

