@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


.column {
  float: left;
  width: 33.33%;
  height: 90%;
  background: lightgray;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  overflow: hidden;
}

.mainButton {
  width: 100%;
  height: 100px;
  background-color: slategray;
  color: blanchedalmond;
  font-size: large;
}

.row {
  height: 100%;
}
